@using NoHungKitchenWeb.Models;
@model RegistrationModel 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>Login | NOHUNG KITCHEN</title>
</head>
        <div class="loginBackground">
            <div class="loginBackgroundOverlay"></div>
            <div class="loginContainer">
                <div class="cookManSection">
                    <img src="~/assets/images/cookMan.svg" alt="">
                </div>
                <div class="loginContents">


                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @if (@ViewBag.Message != null)
                    {
                        <div class="form-group">
                            @ViewBag.Message
                        </div>
                    }

                    @using (Html.BeginForm("LoginIn", "Login", FormMethod.Post))
                    {
                        <div class="loginLogo">
                            <img src="~/assets/images/logo.svg" alt="">
                        </div>
                        <div class="loginHeading">
                            <h2>LOGIN</h2>
                        </div>
                        <div class="formContents">
                            <h3>Welcome back,</h3>
                            <div class="form-group">
                                @*<input type="text" id="loginUsername" autocomplete="off" class="form-control">
                    <label for="loginUsername">Kitchen ID</label>*@
                                @Html.TextBoxFor(a => a.KitchenId)
                                @Html.LabelFor(a => a.KitchenId)
                                @Html.ValidationMessageFor(a => a.KitchenId)
                            </div>
                            <div class="form-group">
                                @*<input type="text" id="loginPassword" autocomplete="off" class="form-control">
                    <label for="loginPassword">Password</label>*@
                                @Html.PasswordFor(a => a.Password)
                                @Html.LabelFor(a => a.Password)
                                @Html.ValidationMessageFor(a => a.Password)
                            </div>
                            <div class="form-group loginbuttonsSections">
                                <a href="" class="forgotPasswordText">Forgot Password?</a>
                                <input type="submit" value="Login" />
                                <a href="" class="loginButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="15.5" viewBox="0 0 32 15.5">
                                        <defs>
                                            <style>
                                                .a {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <path class="a" d="M31.633,138.865h0l-6.531-6.5a1.25,1.25,0,0,0-1.764,1.772l4.385,4.364H1.25a1.25,1.25,0,0,0,0,2.5H27.722l-4.385,4.364a1.25,1.25,0,0,0,1.764,1.772l6.531-6.5h0A1.251,1.251,0,0,0,31.633,138.865Z" transform="translate(0 -132)" />
                                    </svg>
                                </a>
                            </div>
                        </div>

                        <div class="dontHaveAccount">
                            <p>Don't have an account yet? Start taking orders NOW by <a href="~/Registration">SIGNING UP!</a></p>
                        </div>

                    }
                </div>
            </div>
        </div>
   

<body>
</body>
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/main.js"></script>

</html>